<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <table class="job-listing">
        @foreach (var job in ViewBag.jobs)
        {
            <tr>
                <td>ID: @job.Id<br />Name: @job.Name<br />Employer: @job.Employer<br />Location: @job.Location<br />Position Type: @job.PositionType<br />Skill: @job.CoreCompetency</td>
            </tr>
        }

    </table>

</div>